.search {
  width: calc(100% - var(--Header-Width));
  margin-left: auto;
  margin-bottom: 2.12rem;
  padding-left: 2.25rem;
  margin-top: 4rem;
}
.container {
  margin-top: 2.19rem;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
